@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cf3333;
  z-index: 1;
  /* border: 2px solid yellow; */
}

.logo {
  color: whitesmoke;
  text-decoration: none;
  font-family: Caveat Brush;
  font-size: 2.8em;
}

.logo:hover {
  color: lightsalmon;
}

.icon {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
  font-size: 0.92 em;
  font-weight: 600;
  list-style-type: none;
  z-index: 1;
}

.nav-links a:hover {
  color: lightsalmon;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.nav-links .tag a {
  text-decoration-line: underline;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  transition: all 0.3s ease;
}

section.sec {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height:90vh;
}

.kontakt {
  margin-top: 3.5em;
  text-align: justify;
  position: relative;
  z-index: -1;
}

section.sec div img {
  width: 100%;
  height: 100%;
  filter: blur(0px);
}

.podaci {
  width: 64%;
  height: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 18%;
  position: absolute;
  top: 10em;
  color: whitesmoke;
  font-size: 1.05em;
  font-weight: 550;
  /* border: 2px solid aqua; */
  background-color: rgb(1, 1, 1, 0.5);
  border-radius: 2.5pt;
  padding: 10px;
}

iframe {
  margin-top: 3.5em;
  z-index: 1;
}

footer {
  display: flex;
  background-color: #9bcb3c;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.bottom-nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 0.92em;
  font-weight: 600;
  list-style-type: none;
}

.bottom-nav-links a:hover {
  color: darkslategray;
}

.bottom-nav-links a {
  color: #131516;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.div-footer {
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: #9bcb3c;
}

.div-footer a {
  text-decoration: none;
  color: #131516;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
}

.div-footer a:hover {
  color: darkslategray;
}

.div-footer p {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #131516;
  margin-left: 2.3em;
  font-weight: 600;
}

/* ================== RESPONSIVE ================== */

@media only screen and (min-device-width: 1920px) {
  iframe {
    height: 710px;
  }

  .podaci {
    font-size: 1.25em;
    height: 35%;
  }
}

@media only screen and (max-device-width: 1112px) {
  .podaci {
    width: 64%;
    height: 35%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 18%;
    position: absolute;
    top: 7em;
    color: whitesmoke;
    font-size: 0.91em;
    font-weight: 550;
    /* border: 2px solid aqua; */
    background-color: rgb(1, 1, 1, 0.5);
    border-radius: 2.5pt;
    padding: 10px;
  }
}

@media only screen and (max-device-width: 1024px) {

  .podaci {
    width: 64%;
    height: 33%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 17%;
    position: absolute;
    top: 9em;
    color: whitesmoke;
    font-size: 0.83em;
    font-weight: 550;
    /* border: 2px solid aqua; */
    background-color: rgb(1, 1, 1, 0.5);
    border-radius: 2.5pt;
    padding: 10px;
  }
}

@media only screen and (max-device-width: 834px) {
  .kontakt {
    /* border-bottom: 1px solid silver; */
    border-right: 0px;
    z-index: -1;
  }
  section.sec {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  iframe {
    margin-top: 0;
  }

  .bottom-nav-links {
    display: none;
  }

  .div-footer {
    display: none;
  }

  .podaci {
    width: 50%;
    height: 31%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 22.5%;
    position: absolute;
    top: 11em;
    color: whitesmoke;
    font-size: 1em;
    font-weight: 550;
    /* border: 2px solid aqua; */
    background-color: rgb(1, 1, 1, 0.5);
    border-radius: 2.5pt;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 27%;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 50vh;
    top: 2.5em;
    background-color: #cf3333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .podaci {
    width: 54%;
    height: 32%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 22.5%;
    position: absolute;
    top: 11em;
    color: whitesmoke;
    font-size: 1em;
    font-weight: 550;
    /* border: 2px solid aqua; */
    background-color: rgb(1, 1, 1, 0.5);
    border-radius: 2.5pt;
    padding: 10px;
  }
}

@media only screen and (max-device-width: 414px) {

  .nav-links {
    z-index: 1;
  }

  iframe{
    z-index:-1;
  }
  .podaci {
    top: 3em;
    width: 90%;
    margin-left: 2.5%;
    height: 60%;
    font-size: 0.95em;
    font-weight: 550;
  }
}

@media only screen and (max-device-width: 375px) {
  .nav-links {
    z-index: 1;
  }

  iframe{
    z-index:-1;
  }

  .podaci {
    top: 3em;
    width: 90%;
    margin-left: 2.5%;
    height: 60%;
    font-size: 0.85em;
    font-weight: 550;
  }
}

@media only screen and (max-device-width: 360px) {
  .podaci {
    top: 3em;
    width: 90%;
    margin-left: 2.5%;
    height: 60%;
    font-size: 0.8em;
    font-weight: 550;
  }

  iframe {
    z-index: -1;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
