@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #eff669;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cf3333;
}

.logo {
  color: whitesmoke;
  text-decoration: none;
  font-family: Caveat Brush;
  font-size: 2.8em;
}

.logo:hover {
  color: lightsalmon;
}

.icon {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
  font-size: 0.92 em;
  font-weight: 600;
  list-style-type: none;
}

.nav-links a:hover {
  color: lightsalmon;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  transition: all 0.3s ease;
}

.introSlika {
  text-align: center;
  position: relative;
}

.introSlika img {
  width: 100%;
  margin-bottom: -0.3em;
  filter: brightness(40%);
}

.kurziv {
  font-family: Caveat;
  color: whitesmoke;
  font-size: 1.9em;
  position: absolute;
  top: 35%;
  left: 35%;
}

.introTekst {
  color: whitesmoke;
  font-size: 3.2em;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 25%;
}

.cetiriRecenice {
  width: 60%;
  margin-left: 20%;
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: #f29f3d;
  display: inline-block;
  color: #131516;
  font-size: 1em;
  font-weight: 550;
  border-radius: 5pt;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.naslov {
  text-align: center;
  font-size: 2em;
  font-weight: 550;
  color: #131516;
}

.fact {
  margin-left: 2em;
  margin-right: 2em;
  justify-content: space-around;
  padding-bottom: 1.3em;
}

section.doba {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
}

section.doba div {
  margin-bottom: -0.285em;
}

section.doba div img {
  width: 100%;
  filter: brightness(40%);
}

.deca {
  text-align: center;
  position: relative;
}

.tekst {
  border: 2px solid crimson;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 5%;
  position: absolute;
  top: 5%;
  bottom: 6%;
  color: whitesmoke;
}

.tekst h2 {
  margin-top: 0;
}

footer {
  display: flex;
  background-color: #9bcb3c;
  align-items: center;
  justify-content: space-around;
}

.bottom-nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 0.92em;
  font-weight: 600;
  list-style-type: none;
}

.bottom-nav-links a:hover {
  color: darkslategray;
}

.bottom-nav-links a {
  color: #131516;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.div-footer {
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: #9bcb3c;
}

.div-footer a {
  text-decoration: none;
  color: #131516;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
}

.div-footer a:hover {
  color: darkslategray;
}

.div-footer p {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #131516;
  margin-left: 2.3em;
  font-weight: 600;
}

@media screen and (max-width: 843px) {
  .kurziv {
    left: 17%;
    word-wrap: break-word;
    font-size: 1em;
  }

  .introTekst {
    top: 45.5%;
    left: 17%;
    font-size: 1em;
    word-wrap: break-word;
  }
  .bottom-nav-links {
    display: none;
  }

  .div-footer {
    display: flex;
  }

  section.doba {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 27%;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 50vh;
    top: 2.5em;
    background-color: #cf3333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
