@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #eff669;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cf3333;
  z-index: 1;
}

.logo {
  color: whitesmoke;
  text-decoration: none;
  font-family: Caveat Brush;
  font-size: 2.8em;
}

.logo:hover {
  color: lightsalmon;
}

.icon {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
  font-size: 0.92 em;
  font-weight: 600;
  list-style-type: none;
  z-index: 1;
}

.nav-links a:hover {
  color: lightsalmon;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.nav-links .tag a {
  text-decoration-line: underline;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  transition: all 0.3s ease;
}

.vrsteUsluga {
  /* height: 100px; */
  width: 50%;
  margin-left: 25%;
  background-color: #f29f3d;
  padding-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  border-radius: 0pt 0pt 4pt 4pt;
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.5);
  margin-bottom: 3.5em;
  font-weight: 400;
  font-size: 1.15em;
  text-align: center;
}

section.recepti {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
  margin-bottom: 0em;
}

section.recepti div img {
  width: 100%;
  height: 100%;
  /* height: 100%; */
  filter: brightness(55%);
}

.recept {
  text-align: justify;
  position: relative;
  margin-bottom: -0.27em;
}

.tekst {
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 5%;
  position: absolute;
  top: 5%;
  bottom: 6%;
  color: whitesmoke;
  font-size: 1em;
  font-weight: 450;
  height: 90%;
}

.tekst h2 {
  margin-top: 0;
  text-align: center;
}

/* #meso {
  width: 100%;
  height: 100%;
}

#povrce {
  width: 100%;
  height: 100%;
} */

footer {
  display: flex;
  background-color: #9bcb3c;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.bottom-nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 0.92em;
  font-weight: 600;
  list-style-type: none;
}

.bottom-nav-links a:hover {
  color: darkslategray;
}

.bottom-nav-links a {
  color: #131516;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.div-footer {
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: #9bcb3c;
}

.div-footer a {
  text-decoration: none;
  color: #131516;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
}

.div-footer a:hover {
  color: darkslategray;
}

.div-footer p {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #131516;
  margin-left: 2.3em;
  font-weight: 600;
}

@media only screen and (max-device-width: 1112px) {
  .tekst {
    font-size: 0.85em;
  }

  .vrsteUsluga {
    margin-left: 24%;
  }
}

@media only screen and (max-device-width: 1024px) {
  .tekst {
    font-size: 0.8em;
  }
  .vrsteUsluga {
    margin-left: 24%;
  }
}

@media only screen and (max-device-width: 834px) {
  section.recepti {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  .bottom-nav-links {
    display: none;
  }

  .div-footer {
    display: none;
  }

  .tekst {
    text-align: justify;
    font-size: 2.5em;
  }

  .vrsteUsluga {
    margin-left: 24%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 27%;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 50vh;
    top: 2.5em;
    background-color: #cf3333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .tekst {
    text-align: justify;
    font-size: 2.2em;
  }

  .vrsteUsluga {
    margin-left: 24%;
  }
}

@media only screen and (max-device-width: 414px) {
  .tekst {
    font-size: 1.2em;
  }

  .vrsteUsluga {
    margin-left: 22%;
  }
}

@media only screen and (max-device-width: 375px) {
  .tekst {
    font-size: 1.15em;
  }

  .vrsteUsluga {
    margin-left: 22%;
  }
}

@media only screen and (max-device-width: 360px) {
  .tekst {
    font-size: 1.05em;
  }

  .vrsteUsluga {
    margin-left: 22%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
